$sidebarWidth: 200px;
$headerHeight: 50px;

.container {
    .sidebar {
        display: flex;
        flex-direction: column;
        background: #333;
        box-shadow: 0 0 10px #333;
        width: $sidebarWidth;
        height: 100vh;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;

        .sidebarHeader {
            display: block;
            box-sizing: border-box;
            background-color: #f39c11;
            background: radial-gradient(circle at 10px 10px, #fdb540, #f39c11, #f39c11);
            color: #fff;
            font-family: "Kraft" !important;
            font-size: 20px;
            line-height: 50px;
            border-bottom: solid 1px rgba(100, 100, 100, 0.2);
            padding-left: 8px;
            text-decoration: none;
            user-select: none;
        }
    }

    .content {
        background-color: #eee;
        min-height: 100vh;
        margin-left: $sidebarWidth;
    }
}
